<header class="site-header" role="banner">
  <div class="wrapper">
    <button id="theme-toggle" class="theme-toggle icon-link" aria-label="Toggle theme">
      <span class="theme-toggle-icon theme-toggle-icon--moon" aria-hidden="true"
        >{% include icon.html name="moon" %}</span
      >
      <span class="theme-toggle-icon theme-toggle-icon--sun" aria-hidden="true"
        >{% include icon.html name="sun" %}</span
      >
      <span class="sr-only">Toggle theme</span>
    </button>
  </div>
</header>
