---
---

.reading-time {
  color: gray;
  font-size: small;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px 0;

  span {
    color: gray;
    margin: 0 10px;

    &:last-child {
      display: none;
    }
  }

  p {
    font-size: medium;
    margin: 0;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;

  h1 {
    position: relative;
    .smaller-heading {
      font-size: 0.8em;
    }
    .hand {
      position: absolute;
      left: -50px;
      width: 50px;
      height: 50px;
      animation-name: wave-animation;
      animation-duration: 3s;
      animation-iteration-count: 1;
      transform-origin: 70% 70%;
    }
  }
  h3 {
    color: #4f4f4f;
  }
}

.social {
  margin-top: 20px;
  .icon {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 10px;
  }
}

.mode {
  position: absolute;
  top: 15px;
  left: 15px;
}

.read-book {
  color: green;
}

.book-in-progress {
  color: tomato;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
