---
---

.reading-time {
  color: gray;
  font-size: small;
}

.footer {
  border: 1px solid darkgray;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 10px;
    font-size: medium;
  }
}
