---
layout: default
title: Reading List
permalink: /reading-list/
showInMenu: false
---

<div class="reading-list">
  <h1>Reading List</h1>
  <ul>
    {% for book in site.data.books %} {% assign progress = book.progress | times: 100 | divided_by: book.pages %}
    <li>
      <div class="img-container" style="background-image: url({{ book.cover }});"></div>
      <div class="book-details">
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        {% if book.progress == book.pages %}
        <p class="read-book">Progess: {{ progress }}%</p>
        {% else %}
        <p class="book-in-progress">Progess: {{ progress }}%</p>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
