---
layout: default
title: Home
---

<div class="home">
  <h1><span class="hand">👋</span> Hi, <span class="smaller-heading">my name is Nikolay</span></h1>
  <h3>I am a mobile/web developer, passionate about creating applications that solve real-world problems.</h3>
  <div class="social">
    {% include icon-link.html url="https://github.com/nikolayrr" file="../assets/icons/github.svg" alt="link to github"
    %} {% include icon-link.html url="https://twitter.com/nikolayrr" file="../assets/icons/twitter.svg" alt="link to
    twitter" %}
  </div>
</div>
